/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default CSS */
* {
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #F15B22;
  border-radius: 5px;
  padding: 20px 25px;
  text-decoration: none;
}